#contactinfo{
    text-align: right;
    color: #BF0D3E;
}

/*navagation bar*/
.navbar {
    display: grid;
    justify-content: center; /* Centers the text horizontally */
    background-color: #041E42;
}

.navbar ul {
    display: grid;
    grid-auto-flow: column; /* Aligns items in a row */
    gap: 30px; /* Adjust spacing between items */
    list-style-type: none;
    color: white;
    font-size: x-large;
    margin: 0px;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;

}

.navbar a:hover {
    color: grey;
    
}

#title1{
    text-align: center;
    margin-top: 50px;
}

#subtittle{
    text-align: center;
    color: #BF0D3E;
}

#paragraph{
    border: 2px solid;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#p1{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: larger;
}

#p2{
    font-size: larger;
    font-weight: lighter;
    padding-left: 200px;
}

#title2{
    text-align: center;
}

#title3{
    text-align: center;
    
}

#footer{
    background-color: #041E42;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    
}

#footertitle{
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    color: white;

}



/*gallery page*/

#pic{
    margin-left: auto;
    width: 75%;
}
