html, body{
    margin: 0;
    padding: 0;
    background-color: white;
}

/*header banner*/
.header img{
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*navagation bar*/
.navbar{
    display: grid;
    justify-content: center; /* Centers the text horizontally */
    background-color: #041E42;
    padding: 0px;
    margin: 0px;
}

.navbar ul{
    display: grid;
    grid-auto-flow: column; /* Aligns items in a row */
    gap: 30px; /* Adjust spacing between items */
    list-style-type: none;
    color: white;
    font-size: x-large;
    margin: 0px;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;

}

.navbar a:hover{
    color: grey;
    
}

/*paragraphs styles*/
.paragraph{
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(224, 209, 188);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -20px;
    margin-right: 500px;
    
}

.paragraph h1{
    text-align: center;
    margin-top: 50px;
}

.paragraph h3{
    text-align: center;
    color: #BF0D3E;
}

.paragraph p{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: larger;
    color: black;
    font-weight: 75;
}

/*about back ground*/
#about{
    background-image: url(../image/Untitled.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

/*contact background*/
#contact{
    background-image: url(../image/Untitled2.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

/*footer*/
#footer{
    background-color: #041E42;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    
}

#footertitle{
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    color: white;

}

/*gallery page*/
#pic{
    margin-left: auto;
    width: 75%;
}
