#contactinfo{
    text-align: right;
    color: #BF0D3E;
}

#header{
    background-color: #041E42; 
    color: white; font-size: x-large;
    margin-top: 25px;
    text-align: center;

}

#hlink{
    color:white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#title1{
    text-align: center;
    margin-top: 50px;
}

#subtittle{
    text-align: center;
    color: #BF0D3E;
}

#paragraph{
    border: 1px solid;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#p1{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: larger;
}

#p2{
    font-size: larger;
    font-weight: lighter;
    padding-left: 50px;
}

#title2{
    text-align: center;
}

#title3{
    text-align: center;
    
}

#footer{
    background-color: #041E42;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    
}

#footertitle{
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    color: white;

}



/*gallery page*/

#pic{
    margin-left: auto;
    width: 75%;
}
